* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
    display: flex;
    height: 80px;
    background-color: burlywood;
}

#burger_menu {
    height: 40px;
    width: 40px;
    margin: 20px;
    z-index: 2;
}

#line_1 {
    background-color: peru;
    height: 8px;
    width: 40px;
    border-radius: 3px;
}

#line_2 {
    background-color: peru;
    height: 8px;
    width: 40px;
    margin-top: 5px;
    border-radius: 3px;
}

#line_3 {
    background-color: peru;
    height: 8px;
    width: 40px;
    margin-top: 5px;
    border-radius: 3px;
}

.burger_toggle {
    position: fixed;
}

.burger_toggle #line_2 {
    opacity: 0;
}

.burger_toggle #line_1 {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.burger_toggle #line_3 {
    transform: rotate(45deg) translate(-10px, -8px);
}

#nav_links {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: 2px solid burlywood;
    height: 500px;
    width: 250px;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    top: -500px;
    left: 0;
    border-radius: 20px;
    transition: all 0.5s;
    padding-left: 30px;
    z-index: 2;
}

.nav_active {
    transform: translateY(580px);
}

#nav_links a {
    color: black;
    text-decoration: none;
}

#nav_links h2 {
    font-size: 2rem;

}

#fog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
}

.fog_active {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    margin-top: 50px;
}

/* index */

#landing_page_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#booking_grid_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50px 80px 80px 100px;
    grid-template-areas: 
    'ft . .'
    'fb tb tb'
    'db pb tt'
    'fs fs sb';
    height: fit-content;
    width: 90vw;
    background-color: burlywood;
    margin-top: 50px;
    padding: 5px;
    row-gap: 5px;
    column-gap: 5px;
    border-radius: 10px;
}
#flight_type{
    grid-area: ft;
    background-color: white;
    border-radius: 10px;
}

#from_box {
    grid-area: fb;
    background-color: white;
    border-radius: 10px;
}

#to_box {
    grid-area: tb;
    background-color: white;
    border-radius: 10px;
}

#date_box {
    grid-area: db;
    background-color: white;
    border-radius: 10px;
}

#passengers_box {
    grid-area: pb;
    background-color: white;
    border-radius: 10px;
}

#ticket_type_box {
    grid-area: tt;
    background-color: white;
    border-radius: 10px;
}

#flight_settings {
    grid-area: fs;
    background-color: white;
    border-radius: 10px;
}

#search_box {
    grid-area: sb;
    background-color: rgb(255, 209, 124);
    border-radius: 10px;
}

#popular_locations {
    display: flex;
    position: relative;
    height: fit-content;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

#popular_locations h2 {
    text-align: center;
    width: 80vw;
    margin: 10px;
}

#bankok {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#malaga {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#aplicente {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#denpasar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#nairobi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#london {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#beirut {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#phuket {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

#lissabon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    background-color: bisque;
    margin: 1vw
}

.popular_locations p {
    margin-bottom: 25px;
}

/* reseguider */

#reseguider_description {
    margin-top: 20px;
    margin-left: 12.5vw;
    width: 75vw;
}

#guider_flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.guider {
    width: 200px;
    height: 250px;
}

.guide_img {
    height: 37.5%;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.guide_description {
    height: 50%;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-top: 0px;
}

.guide_visa_mer {
    height: 12.5%;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-top: 0px;
}

/* Sista Minuten */

#sista_minuten_description {
    margin-left: 5vw;
    margin-top: 40px;
}

#sista_minuten_description p {
    margin-top: 20px;
}


#sök_sista_min_flex_wrapper {
    display: flex;
    justify-content: space-around;
    row-gap: 15px;
    flex-direction: column;
    width: 90vw;
    margin-top: 20px;
    margin-left: 5vw;
}

#sök_sista_min_flex_wrapper h3 {
    margin-top: 15px;
    margin-left: 10px;
}

.sista_min_input_fält {
    height: 50px;
    width: 100%;
    background-color: white;
    border: 3px solid peru;
}

.sista_min_input_fält p {
    margin-top: 15px;
    margin-left: 10px;
}

#sök_knapp {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(255, 209, 124);
}

/* Footer */

footer {
    background-color: burlywood;
    padding: 40px;
    margin-top: 50px;
}

.social-media-links {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.social-media-links__img {
    height: 60px;
    width: auto;
}

.copyright {
    text-align: center;
}

.copyright a {
    color: black;
    text-decoration: none;
}